<app-header></app-header>

<div class="main-content-container my-4" #mainContainer id="mainContainer">
  <router-outlet></router-outlet>
  <button class="back-to-top" title="Go to top"  (click)="forceScrollToTop()" #navigationButtonTop>
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <a href="https://wa.me/16479833222" class="whatsapp_float" target="_blank" title="Chat with us on WhatsApp">
    <img src="../assets/whatsapp_logo.png" style="width:50px;height:50px;" class="whatsapp-bounce">
  </a>
</div>

<app-footer></app-footer>
