.main-content-container {
    width: 100%;
    min-height: 100dvh;
    max-width: 1700px;
    padding-bottom: 80px; /* Add padding to prevent content from being hidden behind the footer */
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



 