.main-content-container {
    width: 100%;
    min-height: 100dvh;
    max-width: 1700px;
    padding-bottom: 80px; /* Add padding to prevent content from being hidden behind the footer */
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.whatsapp_float {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:100;
  }
  

  .back-to-top {
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: white;
    border: none;
    z-index: 100;
    border-radius: 50px;
    height: 40px;
    box-shadow: none;
    transition: box-shadow 0.2s linear 0s;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-navigation:hover {
    box-shadow: 0px 0px 10px 1px rgba(34, 34, 34, 0.61);
  }

.whatsapp-bounce {
  animation: bounce 1.2s infinite;
}

 


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }

  
}

@media screen and (max-width: 700px) {
  .back-to-top {
    display: none;
  }
}